@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.bg-nav {
  background: rgb(70,68,236);
  background: linear-gradient(0deg, rgba(70,68,236,1) 0%, rgba(16,176,203,1) 91%);
}

.title {
  font-family: monospace ;
}

.sub-title {
  font-family: cursive;
}